<% include ./partials/header %>

<div class="container">

  <br>
  <br>
  <br>

  <p>California . Fullerton               Search Bar</p>
  <hr>

  <br>
  <br>

  <div class="container">
    <img src="stylesheets/images/boba-hero.png" class="img-fluid">
    <div class="centered display-2">Boba shops near Fullerton, California</div>
  </div>

  <div class="container">
    <% shops.forEach(function(shop){ %>
        <div class="container">
          <div class="row down">
              <div class="col-md-2 col-md-offset-2"></div>
            <div class="col-md-6"><hr/></div>
          </div>
          <div class="row"> 
            <div class="col-md-2">
              <img src="stylesheets/images/<%= shop.image %>" class="img-fluid">
            </div>
            <div class="col-md-6">
            <h4> <%= shop.name %> </h4>
            <p> <%= shop.description %> </p>
            <h5> Phone: <%= shop.phone %> </h5>
            <h5> Address: <%= shop.address %> </h5>
            </div>
          </div>
        </div>
    <% }) %>
  </div>


</div>


<%# This will eventually be in the business page %>
    <p>
      <a class="btn btn-primary btn-lrg" href="/shops/new">Add New Shop</a>
    </p>

<% include ./partials/footer %>
